/*Шрифты*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.logo {
  font-family: "Raleway", sans-serif;
}

.logo .logo-blue {
  color: var(--text-blue);
}

.logo .logo-white {
  color: var(--text-white);
}

/*ссылки, кнопки/main*/

.link {
  color: var(--text-dark-gray);
}

.link:hover,
.link:focus {
  color: var(--text-blue);
}

.buttons .btn-text {
  color: var(--text-dark-gray);
  border: none;
  background: none;
}

.btn-text:hover {
  color: var(--text-white);
}

.btn-hero {
  color: var(--text-white);
  border: none;
}

/*подвал*/
.address .address-link {
  color: var(--text-white-op06);
}

.address .address-text {
  color: var(--text-white);
}
